:root {
    --honeyColor: #070707;
    --honeyBorderColor: #252525;
    --size: 30px;
}

body {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background: radial-gradient(circle farthest-side at 0% 50%, var(--honeyColor) 23.5%,transparent 0)calc(var(--size)*0.7) var(--size), radial-gradient(circle farthest-side at 0% 50%,var(--honeyBorderColor) 24%,transparent 0)calc(var(--size)*19/30) var(--size), linear-gradient(var(--honeyColor) 14%,transparent 0, transparent 85%, var(--honeyColor) 0)0 0, linear-gradient(150deg, var(--honeyColor) 24%,var(--honeyBorderColor) 0,var(--honeyBorderColor) 26%,transparent 0,transparent 74%,var(--honeyBorderColor) 0,var(--honeyBorderColor) 76%, var(--honeyColor) 0)0 0, linear-gradient(30deg, var(--honeyColor) 24%,var(--honeyBorderColor) 0,var(--honeyBorderColor) 26%,transparent 0,transparent 74%,var(--honeyBorderColor) 0,var(--honeyBorderColor) 76%, var(--honeyColor) 0)0 0, linear-gradient(90deg,var(--honeyBorderColor) 2%, var(--honeyColor) 0, var(--honeyColor) 98%,var(--honeyBorderColor) 0%)0 0 var(--honeyColor);
    background-size: calc(var(--size)*4/3) calc(var(--size)*2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FCFCFC;
    font-size: 19px;
}

h2 {
    color: #F1F1F1;
    font-size: 30px;
}

h1 {
    color: #F1F1F1;
    font-size: 34px;
}

a {
    color: #F123FFFF;
    text-decoration: underline;
    cursor: pointer;
}

.inputBox {
    background: #E4E4E4FF;
    border: 2px solid #671189FF;
    font-size: 20px;
}

.button {
    background-color: #671189FF;
    border: none;
    border-radius: 6px;
    color: #E4E4E4FF;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adds shadow */
}

.darkText {
    color: #030303FE;
}

.flex {
    display: flex;
}

.centralFullWidth {
    width: 98vw;
    margin-left: 1vw;
}

.outerLogoBorder {
    background: radial-gradient(circle, #000000FF, #000000BB);
    border-radius: 90px;
    padding: 10px;
    margin: auto;
    width: 96vw;
}

.headerBar {
    width: 100vw;
    background: #332253FA;
    overflow-y: hidden;
}

.infoHeader {
    border-radius: 2px;
    background: #502474FE;
    color: white;
    padding: 2px;
    padding-left: 7px;
    font-weight: 500;
}

.sideBarTopPanel {
    background: #343434FF;
    color: #F6F6F6FF;
    max-width: 240px;
    padding: 7px;
    font-size: 17px;
    border-top: 2px solid #000;
}

.sidebarLabel {
    width: 80px;
    padding-right: 10px
}

.sidebarValue {
    width: 150px;
    overflow-x: hidden;
}

.sideBarMenuHolder {
    background: #332253FA;
    padding: 7px;
}

.sideBarMenuItem {
    border-radius: 2px;
    background: #474747FF;
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #FFFFFFFF;
    padding-top: 2px;
    cursor: pointer;
}

.slideMenuContainer {
    display: flex;
    width: 100vw;
    border-top: #696969FF;
    scrollbar-width: none;
    overflow-x: scroll;
}

.slideMenuItem {
    background: #474747FF;
    text-align: center;
    color: #FFFFFF;
    width: 40px;
    max-width: 40px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.slideMenuLabel {
    font-size: 10px;
    line-height: 12px;
    margin-top: -5px;
}

.gamePanel {
    border-radius: 2px;
    border: 2px solid #000;
    background: #383838;
    background: linear-gradient(90deg,rgba(56, 56, 56, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(56, 56, 56, 1) 100%);
    color: #FEFEFEFF;
}

.panelHeader {
    color: #FEFEFEEF;
    font-size: 28px;
    font-weight: 700;
    width: 96%;
    border-bottom: 1px solid #A9A9A9;
    padding-left: 5px;
    padding-top: 5px;
}

.panelBody {
    padding: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.contentBox {
    border-radius: 2px;
    border: 1px solid #111111FF;
    width: 360px;
    margin-bottom: 9px;
    background: #DEDEDE22;
    background: linear-gradient(45deg,rgba(222, 222, 222, 0.15) 0%, rgba(249, 249, 249, 0.15) 50%, rgba(222, 222, 222, 0.15) 100%);
    box-shadow: #656565 -5px -5px -5px -5px inset;
}

.contentBoxHeader {
    background: #332253FA;
    color: #FFFFFFFF;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 3px;
}

.contentBoxLabel {
    width: 85px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFFFF;
}

.contentBoxData {
    width: 110px;
    font-size: 16px;
    color: #FFFFFFFF;
}

.clickLink {
    color: #F123FFFF;
    text-decoration: underline;
    cursor: pointer;
}

.topMenuLeft {
    margin-top: 3px;
    color: #CEBBDDFF;
    border-right: 1px solid #DDDDDDFF;
    text-align: center;
    max-height: 26px;
}

.topMenuRight {
    color: #CEBBDDFF;
    text-align: center;
}

.signupPanel {
    position: fixed;
    left: calc(50vw - (50vw - 20px));
    width: calc(100vw - 60px);
    height: 80vh;
    top: 4vh;
    border-radius: 6px;
    border: 2px solid #DE33EDFF;
    background: #101010F9;
    text-align: center;
}

.smallText {
    font-size: 12px;
}

.greenText {
    color: #68DC68FF;
}

.smallVerticalPad {
    padding-top: 3px;
    padding-bottom: 3px;
}